/* Created by: Infinity de Guzman
 * Created on: May 2021
 * This CSS file defines the style for index.html ICS2O-Unit5-07-HTML-Guess_My_Number
 */

body {
  background-color: #0e334e;
  color: #4e6e99;
}

h1 {
  background-color: #4e6e99;
  color: #fff;
  padding: 40px;
  text-align: center;
}

h2 {
  background-color: #fff;
  color: #56466b;
  padding: 20px;
}

h3 {
  background-color: #fff;
  color: #56466b;
  padding: 10px;
}
